body {
    max-width: 600px;
    margin: auto;
}

.button-container {
    display: flex;
    margin-left: auto;
    order: 2;
}

table {
    border-collapse: collapse;
    border-radius: 20%;
    margin-top: 4px;
    width: 600px;
}

td, th {
    border: 1px solid #222;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}
